@page
@using Microsoft.AspNetCore.Identity
@using Ebay.Models
@model Ebay.Pages.Shop.CartModel
@{
    ViewData["Title"] = "My Cart";
}

<div class="mt-4 mb-3">
    <img src="~/images/banner-8.png" class=" w-100" alt="...">
</div>

<div>
    <h3 class="text-center mb-3">
        My Cart
    </h3>
    @if (Model.CartItem != null && Model.CartItem.Any())
    {
        @foreach (var item in Model.CartItem)
        {
            <form class="w-100" method="post">
                <div class="p-3 mb-3" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border: none; display: flex; justify-content: space-between">
                    <div style="display: flex; gap: 20px;">
                        <div>
                            <a href="/Shop/Product/@item.Product.Id">
                                <img src="@Html.DisplayFor(modelItem => item.Product.Image)" width="200" height="200" />
                            </a>
                        </div>
                        <div class="w-100">
                            <div>
                                <h3>@item.Product.Name</h3>
                                <div class="d-flex align-items-baseline" style="gap: 10px;">
                                    <label asp-for="@item.Quantity">Quantity:</label>
                                    <input asp-for="@item.Quantity" class="form-control" style="width: 200px;" type="number" min="1" max="@item.Product.Inventory" name="Quantity">
                                </div>
                                <p>$@(item.Product.Price * item.Quantity)</p>
                            </div>

                        </div>
                    </div>
                    <div>
                        <button style="margin-right: 10px;" type="submit" class="btn btn-outline-primary" asp-page-handler="update" asp-route-id="@item.ProductId">
                            Update
                        </button>
                        <button type="submit" class="btn btn-outline-danger" asp-page-handler="delete" asp-route-id="@item.ProductId">
                            Delete
                        </button>
                    </div>
                </div>
            </form>

        }
        <div class="d-flex mt-4" style="gap: 10px;">
            <div class="text-right">
                <a href="/Shop" class="btn btn-warning " role="button">Go Back to Shopping</a>
            </div>
            <div class="text-right">
                <a href="/Checkout" class="btn btn-primary" role="button">Check Out</a>
            </div>
        </div>
    }
    else
    {
        <h6 class="text-center text-danger mt-3">There are no items in your cart.</h6>
    }
</div>
